:root {
    --bg-light: #f4f4f4;
    --bg-dark: #1a1a1a;
    --text-light: #333;
    --text-dark: #f0f0f0;
    --accent-color: #3498db;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background-color var(--transition-speed), color var(--transition-speed);
    line-height: 1.6;

    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

}

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.gallery-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.gallery {

    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity var(--transition-speed);
}

.gallery-item {
    width: 65vw;
    height: 65vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.music-player-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#background-music {
    width: 80%;
    max-width: 500px;
    
}

#toggle-theme {  
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

#toggle-theme:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    animation: zoom 0.6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-item {
        width: 100%;
        height: 50vh;
    }
}